#contenedor_oculto{
	display: none;
}
#contenedor{
	width: 100%;
	height: 100%;
}
div#slider{
	background-image: url(../img/fondos/fondo_index_hilos.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 500px;
	width: 100%;
}
main{
	width: 100%;
	background-color: white;
}

/************ banner *****************/

div#info_tenda{
	padding: 20px;
	text-align: center;
	z-index: 50;
	position: relative;
	display: block;
	width: 600px;
	margin: auto auto;
	top: 40%;
	background: rgba(255,255,255,0.5);
}

div#info_tenda h2{
	font-size: 30px;
	padding-bottom: 30px;
	color: #620062;
	font-weight: bold;
}

div#info_tenda span{
	margin: 0 auto;
	margin-top: 30px;
	background-color: #620062;
	border-radius: 5px;
	display: block;
	width: 200px;
	height: 50px;
}
div#info_tenda span a{
	padding-top: 15px;
	color: white;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 700px){

	div#info_tenda{
		width: 80%;
		top: 20%;
	}

}

/* Muestra */
div#muestra{
	width: 80%;
	margin: 30px auto;
}
/* Ejemplos */
div.ejemplos{
	width: 100%;
	position: relative;
}
div.ejemplos img{
	width: 100%;
}
/* Texto */
div.ejemplos div.texto{
	position: relative;
	top: -86px;
	background-color: rgba(0,0,0,.5);
	color: white;
	padding: 10px 5px 10px 5px;
}

/* Muestras en grid */
@media screen and (min-width: 800px){

	div#muestra{
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		align-self: stretch;
	}
	div#muestra div.ejemplos{
		width: 33%;
		display: block;
		height: auto;
	}

}
