#contenedor_oculto{
	display: none;
}
#contenedor{
	min-width: 320px;
	width: 100%;
	height: 100%;
}
div#slider{
	background-image: url(../img/fondos/fondo_index_hilos.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 500px;
	width: 100%;
}
main{
	width: 100%;
	display: grid;
	background-color: white;
}

/************ banner *****************/

div#info_tenda{
	padding: 20px;
	text-align: center;
	z-index: 50;
	position: relative;
	display: block;
	width: 600px;
	margin: auto auto;
	top: 40%;
	background: rgba(255,255,255,0.5);
}

div#info_tenda h2{
	font-size: 30px;
	padding-bottom: 30px;
	color: #620062;
	font-weight: bold;
}

div#info_tenda span{
	margin: 0 auto;
	margin-top: 30px;
	background-color: #620062;
	border-radius: 5px;
	display: block;
	width: 200px;
	height: 50px;
}
div#info_tenda span a{
	padding-top: 15px;
	color: white;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 700px){

	div#info_tenda{
		width: 80%;
		top: 20%;
	}

}

/* Muestra */
div#muestra{
	margin-top: 20px;
	width: 80%;
	margin: 0 auto;
}
div.ejemplos{
	width: 100%;
}
div.ejemplos img{
	width: 100%;
}

.ejemplos {
	width: 100px; 
	height: 150px;
	margin: 12px;
	float: left;
	position: relative;
	overflow: hidden;
	left: 10px; top: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.ejemplos h1 {
	font-weight: bold;
	font-size: .9em;
	margin: 0px 0px .1em 0px;
}
.ejemplos p {
	font-size: .7em;
	text-decoration: none;
	margin: 0px 0px .1em 0px;
}

.texto{
	padding: 4px;
	width: 100px;
	height: 142px;
	background-color: rgba(255, 255, 255, .7);
	color: rgba(F255, 255, 255, .7);
	position: absolute;
	cursor: pointer;
	bottom: -119px;
	left: 0px;
	font-size: 1em;
}