main{
	width: 80%;
	padding: 10px 10% 0 10%;
	display: grid;
	background-color: white;
}

div.ejemplos{
	width: 30%;
	position: relative;
}
div.ejemplos div.img img{
	width: 100%;
}
div.ejemplos div.texto{
	width: 100%;
	height: 100%;
	position: absolute;
}
div.ejemplos div.texto{
	color: rgba(0,0,0,0);
}
div.ejemplos div.texto:hover{
	background: rgba(0,0,0,0.5);
	color: red;
}

@media screen and (max-width: 600px){

	main{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	div.ejemplos{
		width: 100%;
	}




}
